.card {
  padding: 15rem;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}

.card_side {
  background-color: orangered;
  height: 52rem;
  width: 30rem;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  font-size: 1.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.822);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.822);
}

.card_side--front {
  background-color: rgba(255, 245, 245, 0.993);
}

.card_side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card_side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card_side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#26f502d7), to(#28b485));
  background-image: linear-gradient(to right bottom, #26f502d7, #28b485);
}

.card_side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5543fafb));
  background-image: linear-gradient(to right bottom, #2998ff, #5543fafb);
}

.card:hover .card_side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card_side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card_picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card_picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffd000fd), to(#fc5406)), url("../img/nat-5.jpg");
  background-image: linear-gradient(to right bottom, #ffd000fd, #fc5406), url("../img/nat-5.jpg");
}

.card_picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#27f502), to(#28b485)), url("../img/nat-6.jpg");
  background-image: linear-gradient(to right bottom, #27f502, #28b485), url("../img/nat-6.jpg");
}

.card_picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url("../img/nat-7.jpg");
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg");
}

.card_heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(255, 245, 245, 0.993);
  text-align: right;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.card_heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.card_heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffbb00d7), to(#ff7830da));
  background-image: linear-gradient(to right bottom, #ffbb00d7, #ff7830da);
}

.card_heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#27f502), to(#28b485));
  background-image: linear-gradient(to right bottom, #27f502, #28b485);
}

.card_heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card_details {
  padding: 3rem;
}

.card_details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card_details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card_details ul li:not(:last-child) {
  border-bottom: 1px solid   #eee;
}

.card_cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card_price-box {
  text-align: center;
  color: white;
  margin-bottom: 8rem;
}

.card_price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card_price-value {
  font-size: 6rem;
  font-weight: 100;
}
/*# sourceMappingURL=card.css.map */