.heading-secondry{
    font-size: 3.5rem;
    transform: uppercase;
    font-weight: 700;
    display: inline-block;

    background-image:linear-gradient(to right , $color-primary-dark, $color-primary-light);

-webkit-background-clip: text;
background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
@include respond(tab-port){
font-size: 3rem;
}
@include respond(phone){
    font-size: 2.5rem;
    }
    &:hover{
        transform: skewY(2deg)skewX(15deg) scale(1.1);
        text-shadow:.5rem 1rem 2rem rgba($color: #000000, $alpha: .2);
    }
}

.heading-main {
    display: inline-block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 30px;
    animation-name: MoveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    /*
  animation-delay: 3s;
  animation-iteration-count: 3;
  */
    backface-visibility: hidden;
@include respond(phone){
letter-spacing: 1rem;
font-family: 5rem;
}

  &main--sub {
    display: inline-block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-bottom: 60px;

    @include respond(phone){
        letter-spacing: .5rem;


        }
}

  }
.heading-tre{
font-size: 1.6rem;
font-weight: 700;
text-transform: uppercase;
}
.pragraph{
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
        text-transform: uppercase;
    }

}



